<div id="counter-action-bar" class="btn-group-vertical">
    <span class="heading">Profile:</span>
    <select style="margin-bottom:0px;" id="work_profile_select"></select>
    <button type="button" id="cst-call-next-btn" class="btn btn-success btn-small"><i class="icon-play"></i> Next</button>
    <button type="button" id="cst-walk-direct-btn" class="btn btn-small"><i class="icon-forward"></i>Walk direct</button>
    <button type="button" id="cst-close-workstation-btn" class="btn btn-small">Close Workstation</button>
    <span id="cst-state" class="text-right heading" style="display: none;"></span>
</div>