<div id="visits-users-pool-container" class="hidden row-fluid content-wrapper theme3">
    <div class="content-toolbar">Visits in your Pool</div>
    <div class="content">
	    <table id="visits-users-pool-table" class="table table-striped table-hover" style="width:100%;">
	        <thead>
		        <tr>
	                <th class="">Number</th>
	                <th class="">Waited</th>
	                <th>Customer</th>
	                <th>Completed</th>
	                <th>Services</th>
	                <th style="width:20px;"></th>
		        </tr>
	        </thead>
	    </table>
    </div>
</div>