<div id="customer_modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="customerModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="customer_modal_title"></h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span2"><strong>First name</strong></div>
            <div class="span10"><input class="input-medium" id="customer_first_name_fld" type="text"/></div>
            <!--  Removed upon request from SD
            <div class="span2"><strong>Phone 1</strong></div>
            <div class="span4"><input class="input-medium" id="customer_phone1_fld" type="text"/></div>
            -->
        </div>
        <div class="row-fluid">
            <div class="span2"><strong>Last name</strong></div>
            <div class="span10"><input class="input-medium" id="customer_last_name_fld" type="text"/></div>
         <!-- Removed upon request from SD  <div class="span2"><strong>Phone 2</strong></div>
            <div class="span4"><input class="input-medium" id="customer_phone2_fld" type="text"/></div>
            -->
        </div>
    <!-- Removed upon request from SD   <div class="row-fluid">
            <div class="span2"><strong>Address</strong></div>
            <div class="span4"><input class="input-medium" id="customer_address1_fld" type="text"/></div>
            <div class="span2"><strong>Email</strong></div>
            <div class="span4"><input class="input-medium" id="customer_email_fld" type="text"/></div>
        </div>
        -->
		<!--
        <div class="row-fluid">
            <div class="span2"><strong>VIP</strong></div>
            <div class="span4"><input class="checkbox" id="customer_vip_fld" type="checkbox"/></div>
        </div>
		-->
        <div class="row-fluid">
            <div class="span2"><strong>Mobile Phone</strong></div>
            <div class="span10"><input class="input-medium" id="customer_mobile_fld" type="text"/></div>
        </div>
        <div class="row-fluid">
          <!--  Removed upon request from SD <div class="span2"><strong>City</strong></div>
            <div class="span4"><input class="input-medium" id="customer_city_fld" type="text"/></div>
            -->
            <div class="span2"><strong>Email</strong></div>
            <div class="span10"><input class="input-large" id="customer_email_fld" type="text"/></div>
        </div>


        <!--  Removed upon request from SD  <div class="row-fluid">
            <div class="span2"><strong>ZIP Code</strong></div>
            <div class="span4"><input class="input-small" id="customer_zip_fld" type="text"/></div>
            <div class="span2"><strong>State</strong></div>
            <div class="span4"><input class="input-medium" id="customer_state_fld" type="text"/></div>
        </div>
            -->
    </div>
    <div class="modal-footer">
        <button type="button" id="customer_cancel_btn" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="button" id="customer_save_btn" class="btn btn-primary">Save</button>
    </div>
</div>