<div id="walk_direct_modal" class="modal hide modal-walk-direct" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Walk Direct</h3>
    </div>
    <div class="modal-body" style="max-height: 470px;">
        <div class="span7">
            <!-- Select Customer -->
            <div style="font-size: 14px; border-bottom: 1px solid #cccccc; color: gray; margin-bottom: 4px;">Customer
            </div>
            <div id="walkdirect_panel">
                <span id="walkdirect_show_create_customer_button" style="cursor: pointer;"><i class="icon-add"></i>  Create Customer</span>
                <input type="text" class="input-medium search-query" style="margin-left: 40px; border-radius: 2px"
                       id="walkdirect_search_field" placeholder="Name"/>
                <button type="button" id="walkdirect_search_customer_button" class="btn btn-small"><i
                        class="icon-search"></i> Find Customer
                </button>
            </div>

            <!-- Customer Search Result -->
            <div id="walkdirect_search_results_container" class="row-fluid hidden">
                <!-- <strong>Search results</strong> -->
                <!-- <div class="content-toolbar mini">Search results</div> -->
                <div class="content" style="margin-bottom: 0px;">
                    <table class="table table-hover table-striped" style="width:100%;">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Customer name</th>
                            <th>Mobile Phone</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody id="walkdirect_search_results"></tbody>
                    </table>
                </div>
            </div>

            <div id="walkdirect_new_customer" class="row-fluid hidden">
                <div>
                    <div class="row-fluid">
                        <div class="span2"><strong>First name</strong></div>
                        <div class="span5"><input class="input-medium" id="walkdirect_customer_first_name_fld"
                                                  type="text"/></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2"><strong>Last name</strong></div>
                        <div class="span5"><input class="input-medium" id="walkdirect_customer_last_name_fld"
                                                  type="text"/></div>
                    </div>
					<!--
                    <div class="row-fluid">
                        <div class="span2"><strong>VIP</strong></div>
                        <div class="span5"><input class="input-medium" id="walkdirect_customer_vip_fld"
                                                  type="checkbox"/></div>
                    </div>
					-->
                    <div class="row-fluid">
                        <div class="span2"><strong>Mobile Phone</strong></div>
                        <div class="span5"><input class="input-medium" id="walkdirect_customer_mobile_fld" type="text"/>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2"><strong>Email</strong></div>
                        <div class="span5"><input class="input-medium" id="walkdirect_customer_email_fld"
                                                  type="text"/></div>
                    </div>

                    <div class="row-fluid">
                        <div class="row-fluid span5 offset2">
                            <div style="width: 160px">
                                <button type="button" id="walkdirect_use_customer_btn"
                                        class="btn btn-primary pull-right">Use
                                </button>
                                <button type="button" id="walkdirect_cancel_customer_btn" class="btn pull-right">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Customer Details -->
            <div id="walkdirect_selected_customer_panel" class="hidden">
                <div class="content" style="margin-bottom: 0px;">
					<div class="row-fluid">
                        <div class="span2"><strong>ID</strong></div>
                        <div class="span4" id="walkdirect_customer_id_lbl"></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2"><strong>First name</strong></div>
                        <div class="span4" id="walkdirect_customer_first_name_lbl"></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2"><strong>Last name</strong></div>
                        <div class="span4" id="walkdirect_customer_last_name_lbl"></div>
                    </div>
					<!--
                    <div class="row-fluid">
                        <div class="span2"><i id="walkdirect_customer_vip_lbl" title="Customer is a VIP customer"
                                              class="icon-vip-customer"></i></div>
                        <div class="span4">
                             </div>
                    </div>
					-->
                    <div class="row-fluid">
                        <div class="span2"><strong>Mobile Phone</strong></div>
                        <div class="span4" id="walkdirect_customer_mobile_lbl"></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2"><strong>Email</strong></div>
                        <div class="span4" id="walkdirect_customer_email_lbl"></div>
                    </div>
                </div>
            </div>

            <div id="wd_notes">
                <div class="row-fluid">
                    <div style="font-size: 14px; border-bottom: 1px solid #cccccc; color: gray;">
                        Note
                    </div>
                </div>
				<div class="row-fluid">
					<div class="content span6" style="margin-bottom: 0px;">
						<b>Preset notes</b>
						<div class="row-fluid">
							<div class="span10">
								<select id="walkdirect_preset_notes" style="width:96%;"></select>
							</div>
							<div class="span2 text-right">
								<button type="button" class="btn btn-small" id="walkdirect_select_preset_note_add">Select</button>
							</div>
						</div>
					</div>
					<div class="content span6" style="margin-bottom: 0px;">
						<textarea id="walkdirect_note_textarea" style="width:96%; height: 110px;"></textarea>
					</div>
				</div>
            </div>

            <!--
            <div id="walkdirect_note">
                <div style="font-size: 14px; border-bottom: 1px solid #cccccc; color: gray;">
                    Note
                </div>
                <div class="content">
                    <textarea style="width:96%;" id="walkdirect_add_service_note"></textarea>
                </div>
            </div>              -->

            <div id="walkdirect_add_service">
                <div style="font-size: 14px; border-bottom: 1px solid #cccccc; color: gray; ">
                    Service
                </div>
                <div class="content" style="margin-bottom: 0px;">
                    <div class="row-fluid">
                        <div class="span12">
                            <div style="display: inline; font-size: 12px;">
								<strong>Select Service: </strong>
							</div>
                            <select id="walkdirect_add_service_select"></select>
							<div style="padding-left: 10px; display: inline; font-size: 14px;">
								<strong>VIP: </strong><input type="checkbox" id="checkbox_walk_direct_service_vip" name="checkbox_walk_direct_service_vip" value="checkbox_walk_direct_service_vip">
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="walkdirect_cancel_btn" class="btn" data-dismiss="modal" aria-hidden="true">Close
        </button>
        <button type="button" id="call_walk_direct_btn" class="btn btn-primary">Call</button>
    </div>
</div>