<div class="row-fluid">
    <div class="span6">
        <span class="heading">Printer:</span>
        <select style="margin-bottom:0px;" id="entrypoint_select"></select>
    </div>
    <div id="last_ticket_number" class="span2" style="font-size:32px;"></div>
    <div class="span4 text-right">
        <button type="button" id="new_visit_btn" class="btn btn-success disabled"><i class="icon-plus-sign"></i> Create Visit</button>
        <button type="button" id="new_visit_clear_all_btn" class="btn btn-small">Clear all</button>
    </div>
</div>