<div id="callingTicketWindow" class="modal hide" tabindex="-1">
    <div class="modal-header">
        <h3 style="text-align: center;">Ticket is being called!</h3>
    </div>
    
    <div class="modal-footer" style="text-align: center; font-size: 10pt;">
		<img src="images/ajax-loader.gif" id="calling-ticket-indicator" />
		Please wait for the ticket to be shown on the displays...
    </div>
</div>