<div id="confirmCounterHijackingWindow" class="modal hide" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeCounterHijackingBtn">&times;</button>
        <h3>Warning!</h3>
    </div>
    <div class="modal-body">
        <h4 id="counterHijackingMessage">The selected counter is in use</h4>
    </div>
    <div class="modal-footer">
        <button type="button" id="cancelCounterHijackingBtn" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button type="button" id="confirmCounterHijackingBtn" class="btn btn-primary">Login, current User will be logged out</button>
    </div>
</div>