<div id="settingsWindow" class="modal hide" tabindex="-1">
    <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
        <h3>Workstation Settings</h3>
    </div>
    <div class="modal-body">
        <table id="settingsTable" class="">
            <tr>
                <td id="selectBranchModal" class="alignOppositeNrml">Branch&nbsp;&nbsp;</td>
                <td>
                    <select id="branchListModal" class="roundedCorner3">
                        <option id="chooseBranch" value="-1">Choose</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td id="selectWorkstationModal" class="alignOppositeNrml">Service Point&nbsp;&nbsp;</td>
                <td>
                    <select id="workstationListModal" class="roundedCorner3">
                        <option id="chooseWorkstation" value="-1">Choose</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td id="selectProfileModal" class="alignOppositeNrml">Profile&nbsp;&nbsp;</td>
                <td>
                    <select id="prioListModal">
                        <option id="chooseProfile" value="-1">Choose</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" id="cancel_settings_btn" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="button" id="apply_settings_btn" class="btn btn-primary">Apply Settings</button>
    </div>
</div>