@import url("reset.css");
@import url("css3.css");

/* General styles */
html{height:100%;}
body {
    background:#fff url(../images/bg_content.gif) bottom left fixed repeat-x !important;
    color:#2d2d2d !important;
    font:13px/16px Arial, Helvetica, sans-serif !important;
    min-height:200px;
}
a, a:visited {color:#0b4457;}
a:hover, a:active {color:#790000;}
h1, h2, h3, h4{padding:10px 0 5px 0;color:#1b404b;font-family: Arial, Helvetica, sans-serif;}
h1 a, h2 a, h3 a, h4 a{text-decoration:none;color:#1b404b !important;}
h1{font:180%/120% Arial, Helvetica, sans-serif;}
h2{font-size:150%;}
h3{font-size:120%;}
h4{font-size:110%;}
p{padding:5px 0;}
td{vertical-align:middle;}
em{font-style:italic;}
strong{font-weight:bold;}
.clear {clear:both;}
.space {height:10px;}
.left {float:left;}
.right {float:right;}
.txtright {text-align:right;}
.txtcenter {text-align:center;}
.bidi-text {unicode-bidi: bidi-override;}

/* Header styles */
.navbar-fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
}
.navbar-fixed-top{
    top: 0;
}
.navbar-inner{
    background:#010101 url(../images/bg_header.gif) repeat-x;
    color:#c4c4c4;
}
.header{
    min-height:100px;
    min-width:940px;
    background:url(../images/glow.png) 0 0 no-repeat;
    border-bottom:3px #eee solid;
}
.header table{
    width:100%;
    height:100px;
}
.header .orch-nav table{
    height:auto;
    width:auto;
    margin:auto;
}
.header table td, .header table th{
    padding: 0;
}
.header table td.orch-nav{
    vertical-align:bottom;
}
td.orch-logo{
    width: 55%;
}
td.orch-logo img{
    padding: 0 35px;
}
td.orch-userinfo{
    width: 45%;
    text-align:right;
    font-size:12px;
    /* white-space:nowrap; */
}
td.orch-userinfo a{
    color:#c4c4c4;
    text-decoration:underline;
}
td.orch-userinfo a:hover{
    color:#fff;
}
td.orch-actions{
    width:146px;
    text-align:center;
    font-size:12px;
}
td.orch-actions a{
    color:#c4c4c4;
}
td.orch-actions div{
    background:url(../images/semitrans.png);
    padding:4px 3px 2px 3px;
    margin:0 20px;
    position:relative;
    white-space:nowrap;
    width:100px;
}
.orch-actions a:first-child{
    border-right:1px #343434 solid;
    float: left;
}
.orch-actions a:last-child{
    border-left:1px #4f4f4f solid;
}

.orch-icons{
    display:inline-block;
    padding:2px 13px;
}
.application-name{
    font-size:20px;
    line-height:20px;
    text-align:center;
    padding:0 0 30px 0;
    white-space: nowrap;
}

/* Footer styles */
.footer{
    padding:10px;
    text-align:center;
    color:#c4c4c4;
    font-size:11px;
    background:#414141;
}
.footer img{
    vertical-align:top;
}
.footer-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
    bottom: 0;
    height: 16px;
}

/* Container styles */
.container{
    min-width:400px;
    text-align:center;
    margin:auto;
    padding-top:120px;
    padding-bottom:36px;
}
.content-wrapper{
    display:inline-block;
    min-width:980px;
    text-align:left;
}
.content{
    padding:20px;
    border:1px #ededed solid;
    border-top:0;
    position:relative;
    background:#fff;
    text-align:left;
    margin-bottom: 10px;
    height:200px;
}
.content-toolbar{
    background:#414141;
    padding:6px 7px;
    color:#c4c4c4;
    border-bottom:3px #eee solid;
    position:relative;
    text-align:left;
    min-height: 28px;
}
.content-toolbar a{
    color:#c4c4c4;
}
.content-toolbar a:hover{
    color:#fff;
}
.content-toolbar h2{
    text-align:center;
    color:#fff;
}

/* Buttons */
.btn{
    padding:4px 18px;
    position:relative;
    background:#e0e0e0 url(../images/bg_btn.gif) repeat-x;
    text-decoration:none;
    text-shadow: 1px 1px #fff;
    font-weight:bold;
    display:inline-block;
    color:#666 !important;
    border:1px #dbdbdb solid;
    font-size:12px;
    line-height:14px;
    margin:2px;
}
.btn:hover {
    cursor:pointer;
    border:1px #a1a1a1 solid;
    text-decoration: none;
}
.btn:active {
    cursor:pointer;
    background:#fff url(../images/bg_btn.gif) bottom left repeat-x;
    border:1px #a1a1a1 solid;
}
.btndisabled {
    padding:4px 18px;
    position:relative;
    background:#f0f0f0;
    text-decoration:none;
    text-shadow: none;
    font-weight:bold;
    display:inline-block;
    color:#aaa !important;
    border:1px #dbdbdb solid;
    font-size:12px;
    line-height:14px;
    margin:2px;
}
.smallbtn{
    font-weight:normal !important;
    font-size:11px !important;
    vertical-align:bottom;
}
.default{
    border:1px #74b9ef solid;
}

/* Input Fields */

.inputfield{
    background:#fff;
    border:1px #dbdbdb solid;
    padding:3px;
    font-family:Arial, Helvetica, sans-serif;
    vertical-align:baseline;
    margin:4px 0;
}
input.inputfield, textarea.inputfield, select.inputfield {
    width: 200px;
}
select.inputfield {
    width: auto;
}
.inputfield:focus, .inputfield:hover{
    background:#fff;
    border:1px #74b9ef solid !important;
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
}
.inputfield.mandatory{
    background:#fcf8e3;
}
.inputfield.errorfield{
    background:#f2dede;
    border:1px #dfbdc2 solid;
}
.inputcheck{
    vertical-align:middle;
}

/* Messages */
.message{
    background:#d9edf7;
    border:1px #bce8f1 solid;
    color:#3a87ad;
    padding: 6px;
    margin-left: 5%;
    /*margin-right: 20px;*/
    position:absolute;
    top:100px;
    width:90%;
    text-shadow: 1px 1px #fff;
    display: none;
    z-index: 100;
}
a.dismiss{
    float:right;
    text-decoration:none;
    font-size: 17px;
    cursor: pointer;
    color:#3a87ad;
}
div.dismiss{
    float:right;
    text-decoration:none;
    font-size: 17px;
    cursor: pointer;
    color:#3a87ad;
}
.dismiss:hover{
    color:#000 !important;
}
.warningmessage{
    background: #ffdbaa;
    border:1px #ffc989 solid;
    color: #b06405;
    z-index: 102;
}
.warningmessage .dismiss{
    color:#b06405;
}
.errmsg {
    background:#f2dede;
    border:1px #eed3d7 solid;
    color:#b94a48;
    z-index:103;
}
.errmsg .dismiss {
    color:#b94a48;
}
.okmsg {
    background:#dff0d8;
    border:1px #d6e9c6 solid;
    color:#468847;
    z-index:101;
}
.okmsg .dismiss{
    color:#468847;
}

/* Spinner */
.spinner{
    position: fixed;
    top: 50%;
    left: 50%;
    background:url(../images/spinner.gif) 0 0 no-repeat;
    width:32px;
    height:32px;
    margin:auto;
    display: none;
    z-index: 9001;
}

/* Modals */
.modal{
    position: fixed;
    /*top: 50%;
    left: 50%;
    z-index: 9001;*/
    width: 560px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    display: none;
}
.modal-header{
    background:#414141;
    padding:6px 7px;
    color:#c4c4c4;
    border-bottom:3px #eee solid;
    position:relative;
    text-align:left;
    min-height: 28px;
}
.modal-header h3{
    color:#fff;
}
.modal-header .dismiss{
    color:#fff;
}
.modal-body{
    background:#fff;
    max-height: 400px;
    padding: 15px;
    overflow-y: auto;
}
.modal-footer{
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}
.modal-footer:before,
.modal-footer:after {
    display: table;
    line-height: 0;
    content: "";
}
.modal-footer:after {
    clear: both;
}
.modal-mask {
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index:9000;
    background-color:#000;
    display:none;
}