
#nav {
    left: 8px;
    list-style: none outside none;
    position: fixed;
    top: 165px;
    width:125px;
}

#nav li {
    margin-bottom: 2px;
}
#nav a {
    background: none repeat scroll 0 0 #EDEDED;
    color: #666666;
    display: block;
    font-size: 11px;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
}
#nav a:hover {
    /* background: none repeat scroll 0 0 #DEDEDE; */
    cursor: default;
}
#nav .current a {
    background: none repeat scroll 0 0 #666666;
    color: #EDEDED;
    cursor: default;
}
#nav div {
    background: none repeat scroll 0 0 #EDEDED;
    color: #666666;
    display: block;
    font-size: 11px;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
}
#nav div:hover {
    /* background: none repeat scroll 0 0 #DEDEDE; */
    cursor: default;
}
#nav .current div {
    background: none repeat scroll 0 0 #666666;
    color: #EDEDED;
    cursor: default;
}
.current {
    background: none repeat scroll 0 0 red;
}

.region-item {
    border:1px solid;
    font-size:30px;
    font-family:helvetica;
    text-align:center;
    background-color:#EEEEEE;
    padding:10px;
    border-radius: 8px 8px 8px 8px;
}

.region-item:hover {
    cursor:pointer;
    background:#DDDDDD;
}
.timeslot-heading {
    background: url("../images/glow.png") no-repeat scroll 0 0 transparent;
    border-bottom: 3px solid #EEEEEE;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 4px;
}
.timeslot-item {
    background-color: #EEEEEE;
    border: 1px solid;
    font-family: helvetica;
    font-size: 16px;
    margin: 6px;
    padding: 4px;
    text-align: center;
    border-radius: 4px;
}

.timeslot-item:hover {
    cursor:pointer;
    background:#DDDDDD;
}
.selected {
    border-width: 1px;
    border-color:#a9a9a9;
    box-shadow: inset 0 0 4px 0 #000;
    background:#DDDDDD;
}

.confirm-detail {
    font-weight: bold;
    padding: 2px;
}

.dropdown {
    border-radius: 5px 5px 5px 5px;
    padding: 3px 0;
    font-size:14px;
    transition: opacity 0.3s linear 0s;
    background-color:transparent;
}

.largebutton {
    background: url("../images/large_button_unselected.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    float: left;
    height: 187px;
    margin: 0 2px 2px;
    text-align: center;
    width: 213px;
}
.largebutton img {
    margin-top: 17px;
}
.largebutton:hover {
    background: url("../images/large_button_hover.png") repeat scroll 0 0 transparent;
    text-decoration: none;
}
.largebutton strong {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}
.largebutton.selectedBtn {
    background: url("../images/large_button_selected.png") no-repeat scroll 0 1px transparent;
    cursor: pointer;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.ui-timepicker-rtl {
    direction: rtl;
}

.ui-timepicker-rtl dl {
    text-align: right;
}

.ui-timepicker-rtl dl dd {
    margin: 0 65px 10px 10px;
}