<div id="delivered_services_modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="delivered_services_modal_Label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="delivered_services_modal_header">Add Transaction Types</h3>
    </div>
    <div class="modal-body">
        <div><strong id="delivered_services_modal_text"></strong></div>

        <div id="delivered_services" class="btn-group-vertical" style="width: 100%;" data-toggle="buttons-checkbox"></div>
		<!--
        <div id="delivered_services_none_available" class="hidden">
            <i>No Transaction Types available.</i>
        </div>
		-->
    </div>
    <div class="modal-footer">
        <button type="button" id="delivered_services_cancel_btn" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="button" id="delivered_services_ok_btn" class="btn btn-primary">Add</button>
    </div>
</div>