<div id="edit-preset-note-modal" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Preset Note</h3>
	</div>
	<div class="modal-body">

	<label>Text</label>
	<input type="hidden" id="edit-preset-note-id" />
	<textarea id="edit-preset-note-text"></textarea>

	</div>
		<div class="modal-footer">
		<a id="edit-preset-note-save-btn" href="#" class="btn btn-primary">Save</a>
	</div>
</div>