<div id="customer-details" class="row-fluid content-wrapper theme4">
    <div class="content-toolbar">New Visit</div>
    <div class="content">
	    <div class="row-fluid">
            <div class="span12">
				<span id="create_customer_btn" style="cursor: pointer; font-size: 16px; margin-left: 20px;"><i class="icon-add" style="margin-top: 1px;" title="Create customer"></i> Create Customer</span>
                <input type="text" class="input-medium search-query" style="border-radius: 2px; margin-left: 20px;" id="cust_search_input_fld"/>
                <button type="button" id="search_customer_btn" class="btn btn-small" style="margin-left: 10px;"><i class="icon-search"></i> Find Customer</button>
            </div>
	    </div>
	</div>

	<!-- Customer Search Result -->
	<div id="customer_search_results_container" class="hidden">
	    <div class="content-toolbar mini">Search results</div>
	    <div class="content">
		    <table class="table table-hover table-striped" style="width:100%;">
		        <thead>
			        <tr>
			            <th>ID</th>
			            <th>Customer name</th>
                        <th>Mobile Phone</th>
			            <th>Email</th>
			        </tr>
		        </thead>
		        <tbody id="customer_search_results"></tbody>
		    </table>
	    </div>
	</div>
                
	<!-- Customer Details -->
	<div id="selected_customer_panel" class="hidden">
		<div class="content-toolbar mini">Customer Details</div>
		<div class="content">
			<div class="row-fluid">
		        <div class="span2"><strong>ID</strong></div>
		        <div class="span4" id="customer_id_lbl"></div>
		    </div>
		    <div class="row-fluid">
		        <div class="span2"><strong>First name</strong></div>
		        <div class="span4" id="customer_first_name_lbl"></div>
		    <!--  Removed upon request from SD
		        <div class="span2"><strong>Phone 1</strong></div>
		        <div class="span4" id="customer_phone1_lbl"></div>
		        -->
		    </div>
		    <div class="row-fluid">
		        <div class="span2"><strong>Last name</strong></div>
		        <div class="span4" id="customer_last_name_lbl"></div>
                <!-- Removed upon request from SD
		        <div class="span2"><strong>Phone 2</strong></div>
		        <div class="span4" id="customer_phone2_lbl"></div>
		        -->
		    </div>
			<!--
            <div class="row-fluid">
                <div class="span2"><i id="customer_vip_lbl" title="Customer is a VIP customer" class="icon-vip-customer"></i></div>
                <div class="span4"></div>
                <div class="span4"><input class="checkbox" id="customer_vip_lbl" disabled="disabled" type="checkbox"/></div>
            </div>
			-->
            <div class="row-fluid">
                <div class="span2"><strong>Mobile Phone</strong></div>
                <div class="span4" id="customer_mobile_lbl"></div>
		    </div>
		    <div class="row-fluid">
		        <div class="span2"><strong>Email</strong></div>
		        <div class="span4" id="customer_email_lbl"></div>
		        <div class="span6 text-right">
		        	<span id="selected-customer-edit-btn" style="cursor: pointer;"><i class="icon-edit-user"></i> Edit customer</span>
	        	</div>
		    </div>
	    </div>
	</div>
	
	<!-- Note-->
    <div id="new_visit_notes_panel">
        <div class="row-fluid">
            <div class="content-toolbar mini">Note</div>
        </div>
        <div class="row-fluid">
            <div class="content span6">
				<b>Preset notes</b>
				<div class="row-fluid">
					<div class="span9">
						<select id="new_visit_preset_notes" style="width:96%;"></select>
					</div>
					<div class="span3 text-right">
						<button type="button" class="btn btn-small" id="new_visit_preset_notes_add">Select</button>
					</div>
				</div>
            </div>
            <div class="content span6">
                <textarea id="new_visit_note" style="width:96%; margin-bottom: 0px; height: 120px;"></textarea>
            </div>
         </div>
    </div>
	<!-- Services -->
	<div class="content-toolbar mini">Services</div>
	<div>
        <div class="row-fluid">
              <div class="span6 content">
                  <table class="table table-hover table-striped" style="width:100%;">
                      <thead>
                      <tr>
                          <th style="width: 10px;">Order</th>
                          <th>Service</th>
                          <th style="width: 15%">VIP</th>
                          <th></th>
                          <th style="width: 20px"></th>
                      </tr>
                      </thead>
                      <tbody id="create_visit_services_tbody"></tbody>
                  </table>
              </div>
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span12 content">
                            <b>Select service</b>
                            <div class="row-fluid">
                                <div class="span8">
                                    <select id="new_visit_add_service_select" style="width:96%;"></select>
                                </div>
								<div class="span2" style="font-size: 12px;">
									<strong>VIP: </strong><input type="checkbox" id="checkbox_new_visit_service_vip" name="checkbox_new_visit_service_vip" value="checkbox_new_visit_service_vip">
								</div>
                                <div class="span2 text-right">
                                    <button type="button" id="new_visit_add_service_btn" class="btn btn-small">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>


    </div>
            
</div>