<div id="addServiceModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="addServiceModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="addServiceModalLabel">Add service to ticket <span id="add_service_ticket_number"></span></h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <h4>Select service</h4>
                <select id="add_service_select"></select>
				<div style="padding-left: 10px; display: inline; font-size: 14px;">
					<strong>VIP: </strong><input type="checkbox" id="checkbox_service_vip" name="checkbox_service_vip" value="checkbox_service_vip">
				</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div style="font-size: 14px; border-bottom: 1px solid #cccccc">Current services</div>
                <div id="add_service_current_services"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="add_service_cancel_btn" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="button" id="add_service_save_btn" class="btn btn-primary">Add</button>
    </div>
</div>