/************************************************** Icons - START **********/

.icon-counter-serving{
    background-image: url("../images/counter-serving-24x24.png");
    background-position: 0px 0px;
    height: 24px;
    width: 24px;
}

.icon-counter-post-processing{
    background-image: url("../images/counter-post-processing-24x24.png");
    background-position: 0px 0px;
    height: 24px;
    width: 24px;
}
.icon-play-green {    
    background-image: url("../images/call14.png");
    background-position: 0 0;
    width: 16px;
    height: 16px;
}
.icon-add {
    background-image: url("../images/add_green16.png");
	background-position: 0 0;
	width: 16px;
	height: 16px;
	margin: -2px;
}
.icon-edit-user {
	background-image: url(../images/edit_user16.png);
	background-position: 0 0;
	width: 16px;
	height: 16px;
	margin: -2px;
}
.icon-add-note {
    background-image: url("../images/sticky_note_plus.png");
    background-position: 0 0;
    width: 16px;
    height: 16px;
	margin: -2px;
}
.icon-edit-note {
    background-image: url("../images/sticky_note_edit.png");
    background-position: 0 0;
    width: 16px;
    height: 16px;
}
.icon-delete-note {
	background-image: url("../images/sticky_note_delete.png");
	background-position: 0 0;
	width: 16px;
	height: 16px;
}
.icon-trash {
    background-image: url("../images/delete14b.png");
	background-position: 0 0;
	width: 14px;
	height: 14px;
}

.icon-finish {
    background-image: url("../images/finish.png");
	background-position: 0 0;
	width: 14px;
	height: 14px;
}

.icon-expand {
    background-image: url("../images/plus10.png");
    background-position: 2px 1px;
	width: 16px;
	height: 16px;
}

.icon-collapse {
    background-image: url("../images/minus10.png");
    background-position: 2px 1px;
    width: 16px;
    height: 16px;
}

.icon-home {
    background-image: url("../images/home18.png");
    background-position: 0px -2px;
    width: 18px;
    height: 18px;
}

.icon-home-black {
    background-image: url("../images/home14black.png");
    background-position: 2px 0px;
    width: 18px;
    height: 18px;
}

.icon-vip-customer{
    background-image: url("../images/vip12.png");
    background-position: 0px 0px;
    width: 36px;
    height: 12px;
}

.icon-valid {
    background-image: url("../images/icon_valid.png");
	background-position: 0 0;
	width: 14px;
	height: 14px;
}

/************************************************** Icons - END **********/

footer.navbar-inner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    min-height: auto;
    padding: 2px;
    text-align: center;
    font-weight: bold;
}

.main-panel {
	background-color: transparent;
	border: 0;
}

/************************************************** Content Box - START **********/
.content-wrapper {
	border: 1px solid #8f8f8f;
	border-radius: 6px;
	background: white;
	padding: 0px;
	margin-top: 6px;
	margin-bottom: 6px;	
}
.content-toolbar {
	padding:6px 7px;
	color:white;
	position:relative;
	text-align:left;
	border-radius: 5px 5px 0px 0px;
	background: #8f8f8f;
	font-size: 13px;
	font-weight: bold;
}
.content-toolbar.mini {
	font-size: 11px;
	padding: 2px 7px;
	border-radius: 0px;
}
.content-toolbar a {
	color:#c4c4c4;
}
.content-toolbar a:hover {
	color:#fff;
}
.content-toolbar h2 {
	text-align:center;
	color:#fff;
}
.content {
	padding:10px;
	border-top:0;
	position:relative;
	text-align:left;
    margin-bottom: 10px;
}
.content-wrapper.theme1 {
	border: 1px solid #047BB8;
	background: #FCFEFF;
}
.content-wrapper.theme1 .content-toolbar {
	background: #047BB8;
}
.content-wrapper.theme2 {
	border: 1px solid #8D3B5F;
	background: #FAF8FA;
}
.content-wrapper.theme2 .content-toolbar {
	background: #8D3B5F;
}
.content-wrapper.theme3 {
	border: 1px solid #669C16;
	background: #F8FBF2;
}
.content-wrapper.theme3 .content-toolbar {
	background: #669C16;
}
.content-wrapper.theme4 {
	border: 1px solid #3B6B8B;
	background: #F8FAFC;
}
.content-wrapper.theme4 .content-toolbar {
	background: #3B6B8B;
}
.content-wrapper.theme5 {
	border: 1px solid #745494;
	background: #FCFEFF;
}
.content-wrapper.theme5 .content-toolbar {
	background: #745494;
}
.space1 {height:5px;}
.space2 {height:10px;}
#queue-appointment-area {
	margin-left: 0px;
}
#queue-appointment-area.span7 {
	width: 59.5%;
}
#cst-main-container #cst_ticketnumber_lbl,
#cst-main-container #cst_customername_lbl,
#cst-main-container #cst_customerid_lbl,
#cst-main-container #cst_service_lbl,
#cst-main-container #cst_waited_lbl,
#cst-main-container #cst_served_lbl
{
	color: #9E3C34;
	font-weight: bold;
	font-size: 11px;
}
#cst-main-container #cst_ticketnumber_lbl {
	font-size: 24px;
}

.service-name { color: #9E3C34; font-size: 12px; font-weight: bold; }

/************************************************** Content Box - END **********/

/************************************************** Notes & Delivered Services - START **********/
#marks-container .row-fluid .headline,
#notes-container .row-fluid .headline { font-weight: bold; font-size: 12px; }
#marks-container .row-fluid .line,
#notes-container .row-fluid .line { border-bottom: 1px solid #DDDDDD; }

#visit-details-current-note-text {
	white-space: pre-wrap;
}

.note {
	margin: 1px 0;
    border: 1px solid #F1F1DF;
	background: #ffffe6;
    border-radius: 3px 3px 3px 3px;
    line-height: 18px;
    clear: both;
	overflow: auto;
	height: auto;
}
.note .name {
	color: black; font-weight: normal; font-style: italic; font-size: 10px;
	float: left; padding: 2px 6px;
	white-space: pre-wrap;
}
.note .user {
	color: #9E3C34; font-style: italic; font-weight: bold; padding: 2px 6px; text-align: right;
	float: right; vertical-align: bottom;
}

.note .action,
.mark .action {
	float: right;
}

.mark {
    border: 1px solid #C5E696;
	margin: 1px 2px;
	background: #DCF0C7;
    border-radius: 3px 3px 3px 3px;
    line-height: 18px;
    width: auto;
    padding: 0 6px;
    float: left;
}
.mark .name {
	color: #9E3C34;
	font-weight: bold;
	font-size: 10px;
	padding: 2px 6px;
	float: left;
}

/************************************************** Notes & Delivered Services - END **********/

td.delete-row-column {
	text-align: center;
	vertical-align: middle;
	border-left: 1px solid #cccccc;
}

#cst_end_f2f_btn,
#cst_post_processing_start_btn {
	width: 120px;
}
#cst_noshow_btn,
#cst_put_in_pool_btn {
	width: 120px;
}

#counter-action-bar.row-fluid #cst-close-workstation-btn{
    float: right;
}

#counter-action-bar.btn-group-vertical button{
    margin-top: 7px;
    text-align: left;
    width: 140px;
}

#counter-action-bar.btn-group-vertical .heading{
    display: block;
}

.summary-panel {
	text-align: center;
	font-size: 10pt;
}

.summary-panel-content {
	text-align: center;
	font-weight: bold;
	font-size: 26pt;
	margin-top: 15px;
	word-wrap: break-word;
	line-height: 30px;
}