/* add style here */
body {
    font-size:11px;
    line-height: 18px;
    padding-top: 50px;
    padding-bottom: 50px;
}

div {
    font-size:10px; 
}
i {
    cursor:pointer;
}
/** This overrides styling from bootstrap */
.table {
    margin-bottom: 0px;
}
.table th, .table td {
    padding:2px 2px 2px 2px;
}
.table td a {
    cursor: pointer;
}
.row-fluid {
    /*
    background-color: #F6F6F6;
    border-radius: 10px 10px 10px 10px;
    */
    margin-left: 0;
    padding: 1px;
}

.row-fluid span {
    min-height:20px !important;
}

.row-fluid [class*="span"] {
    min-height:20px !important;
}

.sidebar-nav {
    padding: 9px 0;
}

.main-panel {
    background-color:#F6F6F6;
    border-radius:10px;
    box-shadow:#F2F2F2;
    padding:4px;
    border: 1px solid #CCCCCC;
}

hr {
    margin:0px;
}

.heading {
    font-size: 14px;
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

#message, #error {
    position:fixed;
    z-index: 9999;
    visibility: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 3px 15px 0 15px;
    width: 98%;
}

.message{
    background:#d9edf7;
    border:1px #bce8f1 solid;
    color:#3a87ad;
    /*	padding:10px;*/
    padding: 6px;
    /*	margin:0 0 10px 0;*/
    margin-left: 2px;
    margin-right: 2px;
    position:relative;
    text-shadow: 1px 1px #fff;
}

.errmsg {
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
    position:relative;
    background:#FF3333;
}

.warningmessage {
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
    position:relative;
}

.inner-panel {
    border:1px solid #DDD;
    width:98% !important;
    padding:5px;
    border-radius:10px;
}

#loading-indicator {

}

.modal-walk-direct {
    width: 750px;
    margin-left: -375px
}

.clickover-z {
    /*color:white !important;
    background-color: #FF6666 !important;*/
    z-index : 1050;
}
.error-clickover-title {
    color:white !important;
    background-color: #FF2222 !important;
    z-index : 1050;
}

.message-main {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    max-width: 276px;
    padding: 1px;
    position: absolute;
    text-align: left;
    top: 0;
    white-space: normal;
    z-index: 1050;
}

.message-title {
    background-color: #51a351;
	color: white;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding: 8px 14px;
}

.message-content {
    padding: 9px 14px;
}