.blackout {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index:100;
	opacity: .8;
	background-color: #000;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 8px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #fff;
    padding: 0px;
    z-index: 101;
}

.popup .header {
	height: 60px;
}

.popup td.padding {
	padding: 0 50px 0 50px;
}

.popup .paddingAll {
	padding: 0 50px 50px 50px;
}

.popup td.bottom {
	vertical-align: bottom;
}

.popup .footer {
	height: 50%;
	margin: 40px;
}

.popupClose {
	background-color: transparent;
    width: 50px;
	height: 50px;
	font-size: 40pt;
	font-weight: bold;
	margin-top: -10px;
	color: #2980B9;
}