* { 
	cursor: url(images/cursor.png), none !important 
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	overflow: hidden;
	font-family: Tahoma;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	user-select:none;
}

table {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0px solid red;
	text-align: center;
}

td {
	border: 0px solid black;
	text-align: center;
	float: center;
	vertical-align: middle;
	padding-right: 50px;
	padding-left: 50px;
}

td.top {
	vertical-align: top;
}

td.bottom {
	vertical-align: bottom;
}

td.header {
	height: 225px; 
	max-height: 225px; 
	vertical-align: top; 
	padding-top: 130px;
}

td.body {
	vertical-align: top; 
	padding-top: 130px;
}

div.left {
	text-align: left;
}

div.inline {
	display:inline-block;
}

.hide {
	display: none;
}

div.spinner {
	left: 50%;
	top: 50%;
}

.font1 {
	font-size: 18pt;
}

.font2 {
	font-size: 20pt;
}

.font3 {
	font-size: 22pt;
}

.font4 {
	font-size: 24pt;
}

.font5 {
	font-size: 26pt;
}

.font6 {
	font-size: 28pt;
}

.font7 {
	font-size: 30pt;
}

.font8 {
	font-size: 32pt;
}

.font9 {
	font-size: 34pt;
}

.font10 {
	font-size: 36pt;
}

.space1 { 
	width: 100px;
}

.space2 { 
	width: 200px;
}

.space3 { 
	width: 300px;
}

.space4 { 
	width: 400px;
}

.space5 { 
	width: 500px;
}

.space6 { 
	width: 600px;
}

.percent10 { 
	width: 10%;
}

.percent90 { 
	width: 90%;
}

.percent95 { 
	width: 95%;
}