/* CSS3 and other CSS fixes, will not validate */

.navigation-menu a.first-item {
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
}
.navigation-menu a.last-item {
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

td.orch-actions div, .btn, .btndisabled, .homedesk table a, .message{
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.fixedmsg{
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	opacity: 0.9;
	filter:alpha(opacity=90);
}

.orch-icons img{
	opacity: 0.5;
	filter:alpha(opacity=50);
}
.orch-icons img:hover, .orch-icons img.sel{
	opacity: 1.0;
	filter:alpha(opacity=100);
}

.inputfield:focus{
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.content, .operating-table{
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
.content-toolbar, .operating-head{
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

/* Removed CSS3 support for IE8 until it is fixed to be stable.
.navigation-menu a.menu-item, td.orch-actions div, .content, .content-toolbar, .btn, .homedesk table a, .message, .operating-table, .operating-head {behavior: url(/css/pie/PIE.htc);}
*/

.content-toolbar .searchbox {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
