/* RTL */
html, body {
    direction: rtl;
}
.header{
	background:url(../images/glowrtl.png) 100% 0 no-repeat;
}
.left {float:right;}
.right {float:left;}
.txtright {text-align:left;}
.orch-actions a:first-child{
	border-left:1px #343434 solid;
	border-right:0 !important;
    float: right;
}
.orch-actions a:last-child{
	border-right:1px #4f4f4f solid;
	border-left:0 !important;
}
td.orch-userinfo{
	text-align:left;
}

.content-wrapper, .content, .content-toolbar, .modal-header{
	text-align:right;
}
a.dismiss{
	float:left;
}

.operating-table th {
    text-align: right;
}
.operating-table th .position-wrapper {
    padding: 10px 45px 10px 5px;
}


