<div id="servicepoints-container" class="row-fluid content-wrapper theme3">
	<div class="content-toolbar">Service Points</div>
    <div class="content">
	    <table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-striped" id="servicepoints_table">
	        <thead>
		        <tr>
					<th style="display:none; width: 0%">Unit Id</th>
		            <th style="width: 9%">Name</th>
		            <th style="width: 13%">User</th>
					<th style="width: 25%">Service</th>
					<th style="width: 5%">#</th>
		            <th style="width: 10%">Status</th>
					<th style="width: 7%">Duration</th>
		            <th style="width: 13%">Customer</th>
		            <th style="width: 13%">Work Profile</th>
		            <th style="width: 5%">Served</th>
		        </tr>
	        </thead>
	    </table>
	</div>
</div>