<div id="selected_queue" class="row-fluid hidden content-wrapper theme2">
    <div class="content-toolbar">
        <i class="icon-home" id="selected-queue-home"></i>
    	<span class="clickable" id="selected-queue-queues">Queues</span>
        	<i class="icon-chevron-right"></i>
        <span class="clickable" id="selected-queue-queue-name"></span>
    </div>
    <div class="content">
	    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped" id="queue_table">
	        <thead>
		        <tr>
		            <th style="width: 5%">#</th>
		            <th style="width: 7%">Waited</th>
					<th style="width: 10%">Customer</th>
					<th style="width: 5%">Cust ID</th>
		            <th style="width: 20%">Services</th>
					<th style="width: 3%">VIP</th>
		            <th style="width: 35%">Last note</th>
		            <th style="width: 5%"></th>
		        </tr>
	        </thead>
	    </table>
	</div>
</div>

