<div id="visit-details" class="row-fluid hidden content-wrapper theme2">
    <div class="content-toolbar">
        <i class="icon-home" id="visit-details-home"></i>
    	<span class="clickable" id="visit-details-queues">Queues</span>
	        <i class="icon-chevron-right"></i>
	        <span class="clickable" id="visit-details-queue-name"></span>
	        <i class="icon-chevron-right"></i>
	        <span class="clickable" id="visit-details-customer-name"></span>
	        <i class="icon-chevron-right"></i>
        <span id="visit-details-ticket-number"></span>
    </div>
    <div class="content">
        <div class="row-fluid">
            <div class="span3 heading">
                <strong id="customer-details-subheading-name"></strong>
                &nbsp;<i id="customer-details-edit-customer-btn" title="Edit customer" class="icon-edit-user"></i>
            </div>
	        <div id="visit-details-ticketNumber" class="span1 heading">
	            Visit #
	        </div>
            <div id="visit-details-note" class="span5 heading">
                Note
            </div>
	        <div class="span3 text-right">
	            <!--<button type="button" id="visit-details-call-btn" class="btn btn-small btn-success"><i class="icon-play"></i> Call</button>-->
	            <button type="button" id="visit-details-remove-btn" class="btn btn-small">Remove Visit</button>
	        </div>
        </div>


        <div class="row-fluid">
            <div class="span4">
                <div class="row-fluid">
                    <div class="span4"><strong>Customer ID</strong></div>
                    <div class="span8" id="cd_id_lbl"></div>
                </div>
                <div class="row-fluid">
                    <div class="span4"><strong>Mobile Phone</strong></div>
                    <div class="span8" id="cd_mobile_lbl"></div>
                </div>
                <div class="row-fluid">
                    <div class="span4"><strong>Email</strong></div>
                    <div class="span8" id="cd_cardnumber_lbl"></div>
                </div>
            </div>
			<div class="span5" id="notes-record-data">
                <div class="row-fluid" style="background:#ffffe6;">
                    <div class="span12" id="visit-details-current-note-text">
                    </div>
                </div>
                <div class="row-fluid" style="background:#ffffe6;">
                     <div class="span12 text-right" style="color:#9E3C34;">
                         <i id="visit-details-current-note-add-btn" class="icon-add-note hidden" style="margin-left: 6px;" title="Add note"></i>
                         <i id="visit-details-current-note-edit-btn" class="icon-edit-note hidden" style="margin-left: 6px;" title="Edit note"></i>
                         <i id="visit-details-current-note-author"></i>
                     </div>
                </div>
			</div>
        </div>
	</div>
	
    <div id="visit-details-services-today">
	<div class="content-toolbar mini">Services Today</div>
	<div class="content">
	    <div class="row-fluid">
	        <hr>
	        <table id="visit_details_services_today" class="table table-hover table-striped" style="width:100%;">
	            <thead>
	            <tr>
	                <th style="width: 10px;">#</th>
	                <!--<th style="width: 10px;">Order</th>-->
	                <th style="width: 60px;">Service</th>
	                <th style="width: 10px;">VIP</th>
	                <th style="width: 30px;">Status</th>
	                <th style="width: 30px;">Counter</th>
                    <th style="width: 20px;">Entered</th>
                    <th style="width: 20px;">Called</th>
                    <th style="width: 20px;">Finished</th>
	                <th style="width: 20px;">Duration</th>
                    <th style="width: 30px;">Served by</th>
                    <th style="width: 150px;">Transaction Types &amp; Notes</th>
	                <th style="width: 15px;"></th>
	            </tr>
	            </thead>
	        </table>
	        <div class="row-fluid text-right">
	        	<span id="visit_details_add_service" style="cursor: pointer;"><i class="icon-add" title="Add service"></i> Add Service</span>
        	</div>
	    </div>
	</div>
    </div>

    <!-- Customer History -->
    <!-- Made this hidden upon request from US. Keeping the code in case they change their mind -->
    <div id="vd_customer_history_header_div" class="hidden"> <!-- class="content-toolbar mini" >Customer History -->
        <span id="vd_show_customer_history_btn" style="cursor: pointer; float: right"><i  class="icon-expand" title="Show customer history"> </i>Show</span>
        <span id="vd_hide_customer_history_btn" style="cursor: pointer; float: right"><i  class="icon-collapse" title="Hide customer history"> </i>Hide</span>
    </div>

    <div id="customer_details_history_div" class="content">
        <table id="customer-details-history-table" class="table table-large table-striped" style="width:100%;">
            <thead>
            <tr>
                <th style="width:44px;">Date</th>
                <th>Service</th>
                <th>Served by</th>
                <th style="width:44px;">Time</th>
                <th>Notes & Transaction Types</th>
            </tr>
            </thead>
        </table>
    </div>
</div>