<div class="row-fluid">
    <div class="span12 text-right">
        <button type="button" id="search_clear_btn" class="btn btn-inverse btn-small"><i class="icon-remove-sign"></i> Clear</button>
	    <strong id="search_result_count_lbl"></strong>
	    <input id="search_fld" type="text" class="input-large search-query" style="border-radius: 2px">
	    <button type="button" id="search_btn" class="btn btn-small"><i class="icon-search"></i> Find Visit</button>
    </div>
</div>