<div class="row-fluid">
    <div class="span12">
        <span class="heading">Printer:</span>
        <select style="margin-bottom:0px;" id="entrypoint_select"></select>
		<span id="last_ticket_number" style="font-size:32px;vertical-align: middle;margin:0px 10px 0px 10px;"></span>
        <button type="button" id="new_visit_btn" class="btn btn-success disabled" style="float:right;margin-left:10px;"><i class="icon-plus-sign"></i> Create Visit</button>
        <button type="button" id="new_visit_clear_all_btn" class="btn btn-small" style="margin-top:2px;float:right;">Clear all</button>
    </div>
</div>