<div id="cst-main-container" class="row-fluid hidden content-wrapper theme1">
    <div class="content-toolbar">
    	Current Service Transaction<span id="recycled_times_lbl" class="hidden"></span>
    </div>
    <div class="content" style="overflow: hidden">

        <div class="row-fluid">
            <div class="span2"><strong>Number</strong></div>
            <div class="span3 heading" id="cst_ticketnumber_lbl"></div>
            <div class="span4"></div>
            <div class="span3">
				<button id="cst_noshow_btn" class="btn btn-mini" rel="clickover" data-toggle="clickover">No show</button>
			</div>
        </div>
		<div class="row-fluid space1"></div>
        <div class="row-fluid">
			<div class="span2"><strong>Customer</strong></div>
            <div class="span3" id="cst_customername_lbl"></div>
			<div class="span2"><strong>Waited</strong></div>
            <div class="span2" id="cst_waited_lbl"></div>
            <div class="span3">
				<button type="button" id="cst_put_in_pool_btn" class="btn btn-mini">Put on Hold</button>
			</div>
		</div>
		<div class="row-fluid space1"></div>
		<div class="row-fluid">
			<div class="span2"><strong>Customer ID</strong></div>
            <div class="span3" id="cst_customerid_lbl"></div>
			<div class="span2"><strong>Face to Face</strong></div>
            <div class="span2" id="cst_served_lbl"></div>
            <div class="span3">
				<button type="button" id="cst_end_f2f_btn" class="btn btn-mini btn-danger">End Serving</button>
			</div>
		</div>
		<div class="row-fluid space1"></div>
		<div class="row-fluid">
            <div class="span2">
				<strong>Service</strong>
				<i id="srv_vip_lbl" title="This is a VIP service" class="icon-vip-customer"></i>
			</div>
            <div class="span3" id="cst_service_lbl"></div>
			<div class="span2"><strong>Post Processing</strong></div>
            <div class="span2" id="cst_postprocessing_lbl"></div>
            <div class="span3">
				<button type="button" id="cst_post_processing_start_btn" class="btn btn-info btn-mini">Start Post Processing</button>
			</div>
        </div>
		
		<div class="row-fluid space2"></div>

    	<!-- Marks -->
    	<div id="cst-marks-container" class="row-fluid hidden">
		    <div id="marks-container" class="row-fluid"></div>
		</div>
		
		<div class="row-fluid space2"></div>

		<!-- Notes -->		
		<div id="cst-notes-container" class="row-fluid hidden">
		    <div id="notes-container" class="row-fluid"></div>
		</div>
    </div>
    
    <!-- Services Today -->
    <div class="content-toolbar mini">Services Today</div>
    <div class="content">
	    <table class="table table-hover table-striped" style="width:100%;">
	        <thead>
		        <tr>
		            <th style="width: 10px;">#</th>
		            <!-- <th style="width: 30px;">Order</th> -->
		            <th>Service</th>
		            <th>VIP</th>
		            <th>Status</th>
		            <th>Transaction Types &amp; Notes</th>
		            <th style="width: 20px;"></th>
    		        <th style="width: 20px;"></th>
		        </tr>
	        </thead>
	        <tbody id="services_today_tbody">
	        </tbody>
	    </table>
	    <!-- <div class="row-fluid text-right">
	    	<span id="services_today_add_service" style="cursor: pointer;"><i  class="icon-add" title="Add service"></i> Add service</span>
    	</div> -->
		<div class="row-fluid" style="padding-top: 15px;">
			<div class="span4"></div>
			<div class="span8">
				<b>Select service</b>
				<div class="row-fluid">
					<div class="span8">
						<select id="current_transaction_add_service_select" style="width:96%;"></select>
					</div>
					<div class="span2" style="font-size: 12px;">
						<strong>VIP: </strong><input type="checkbox" id="checkbox_current_transaction_service_vip" name="checkbox_current_transaction_service_vip" value="checkbox_current_transaction_service_vip">
					</div>
					<div class="span2">
						<button type="button" id="current_transaction_add_service_btn" class="btn btn-primary disabled">Add</button>
					</div>
				</div>
			</div>
		</div>
    </div>
    
    <!-- Customer History -->
    <!-- Made this hidden upon request from US. Keeping the code in case they change their mind -->
    <div id="customer_history_header_div" class="hidden"> <!-- class="content-toolbar mini">Customer History -->
        <span id="btn_show_customer_history" style="cursor: pointer; float: right"><i  class="icon-expand" title="Show customer history"> </i>Show</span>
        <span id="btn_hide_customer_history" style="cursor: pointer; float: right"><i  class="icon-collapse" title="Hide customer history"> </i>Hide</span>
    </div>

    <div id="customer_history_div" class="content">
	    <table id="cst_customer_history_table" class="table table-striped" style="width:100%;">
	        <thead>
	            <tr>
                    <th style="width:54px;">Date</th>
                    <th>Service</th>
                    <th>Served by</th>
                    <th style="width:54px;">Time</th>
                    <th>Notes &amp; Transaction Types</th>
	            </tr>
	        </thead>
	    </table>
    </div>
</div>