<div id="search_results" class="row-fluid hidden content-wrapper theme2">
    <div class="content-toolbar">Search results</div>
    <div class="content">
    
	    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped" id="search_results_div">
	        <thead><tr>
	            <th>Customer</th>
	            <th>Ticket</th>
	            <th>Created</th>
	            <th>Services</th>
				<th>Status</th>
	        </tr></thead>
	    </table>
    
    </div>
</div>