<div id="queues-container" class="row-fluid content-wrapper theme2">
    <div class="content-toolbar">
        <i class="icon-home" id="queues-home"></i> Queues
    </div>
    <div class="content">
	    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped" id="queues_table">
	        <thead>
		        <tr>
                    <th style="display:none; width: 0%">Queue Id</th>
		            <th style="width: 65%">Queue Name</th>
		            <th style="width: 15%">Waiting</th>
		            <th style="width: 15%">Waiting Time</th>
		            <th id="servedHead" style="width: 5%">Served</th>
		        </tr>
	        </thead>
	    </table>
    </div>
</div>