<div id="changeProfileWindow" class="modal hide" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Change Profile</h3>
    </div>
    <div class="modal-body">
        <table id="changeProfileTable" class="">
            <tr>
                <td id="changeProfileModal" class="alignOppositeNrml">Profile&nbsp;&nbsp;</td>
                <td>
                    <select id="prioChangeListModal"></select>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" id="cancel_change_profile_btn" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="button" id="apply_change_profile_btn" class="btn btn-primary">Apply</button>
    </div>
</div>