<div id="confirm_modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="confirm_modal_header">Confirm</h3>
    </div>
    <div class="modal-body">
        <div><strong id="confirm_modal_text">Are you sure you want to delete the selected item?</strong></div>
     </div>
    <div class="modal-footer">
        <button type="button" id="confirm_no_btn" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="button" id="confirm_yes_btn" class="btn btn-primary">Confirm</button>
    </div>
</div>