<div id="noteModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="addNoteModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="addNoteModalLabel">Add/Edit note</h3>
    </div>
    <div class="modal-body">
        <div><strong>Note text</strong></div>
        <div>
            <textarea style="width:96%; height: 100px;" id="note_textarea"></textarea>
        </div>
        <hr/>
        <div><strong>Preset notes</strong></div>
        <div>
            <select id="preset_notes" style="width:99%;"></select>
            <button type="button" class="btn btn-small" style="margin-bottom: 10px;" id="select_preset_note">Select</button>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="note_cancel_btn" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="button" id="note_save_btn" class="btn btn-primary">Save</button>
    </div>
</div>