<div id="forceLogoutWindow" class="modal hide" tabindex="-1">
    <div class="modal-header">
        <h3>Message</h3>
    </div>
    <div class="modal-body">
        <h4 id="forceLogoutMessage">You are logged out</h4>
    </div>
	<div class="modal-footer">
        <button type="button" id="forceLogoutBtn" class="btn btn-primary">OK</button>
    </div>
</div>