<div id="noshow_modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="noshowModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="noshow_modalheader">Recycle/Recall/Noshow</h3>
    </div>
    <div class="modal-body">
        <div><strong id="noshow_modal_text"></strong></div>
    </div>
    <div class="modal-footer">
	    <button type="button" id="note_cancel_btn" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="button" id="noshow_recycle_btn" data-dismiss="modal" class="btn btn-primary" aria-hidden="true">Recycle</button>
        <button type="button" id="noshow_recall_btn" data-dismiss="modal" class="btn btn-primary">Recall</button>
        <button type="button" id="noshow_noshow_btn" data-dismiss="modal" class="btn btn-primary">No show</button>
    </div>
</div>