<div id="branch-summary-container" class="row-fluid">
    <div class="content">
		<div class="span1-5 main-panel">
			<div>
				<div class="row-fluid content-wrapper theme6">
					<div class="content-toolbar summary-panel">Open Service Points</div>
					<div id="open-servicepoints" class="content summary-panel-content">0</div>
				</div>
			</div>
		</div>
		<div class="span1-5 main-panel">
			<div>
				<div class="row-fluid content-wrapper theme6">
					<div class="content-toolbar summary-panel">Serving Customers</div>
					<div id="serving-customers" class="content summary-panel-content">0</div>
				</div>
			</div>
		</div>
		<div class="span2-5 main-panel">
			<div>
				<div class="row-fluid content-wrapper theme6">
					<div class="content-toolbar summary-panel">Max. Waiting Time</div>
					<div id="max-waiting-time" class="content summary-panel-content">0</div>
				</div>
			</div>
		</div>
		<div class="span2-5 main-panel">
			<div>
				<div class="row-fluid content-wrapper theme6">
					<div class="content-toolbar summary-panel">Avg. Waiting Time</div>
					<div id="avg-waiting-time" class="content summary-panel-content">0</div>
				</div>
			</div>
		</div>
		<div class="span1-5 main-panel">
			<div>
				<div class="row-fluid content-wrapper theme6">
					<div class="content-toolbar summary-panel">Customers Waiting</div>
					<div id="customers-waiting" class="content summary-panel-content">0</div>
				</div>
			</div>
		</div>
		<div class="span1-5 main-panel">
			<div>
				<div class="row-fluid content-wrapper theme6">
					<div class="content-toolbar summary-panel">Services Waiting</div>
					<div id="services-waiting" class="content summary-panel-content">0</div>
				</div>
			</div>
		</div>
		<div class="span1-5 main-panel">
			<div>
				<div class="row-fluid content-wrapper theme6">
					<div class="content-toolbar summary-panel">Customers Served</div>
					<div id="customers-served" class="content summary-panel-content">0</div>
				</div>
			</div>
		</div>
		<div class="span1-5 main-panel">
			<div>
				<div class="row-fluid content-wrapper theme6">
					<div class="content-toolbar summary-panel">Services Served</div>
					<div id="services-served" class="content summary-panel-content">0</div>
				</div>
			</div>
		</div>
	</div>
</div>