<div id="appointments-today" class="row-fluid content-wrapper theme5 hidden">
    <div class="content-toolbar">Appointments Today</div>
    <div class="content">
	    <table id="appointments-today-table" style="width: 100%;">
	        <thead>
		        <tr>
					<th style="width: 10%;">ID</th>
		            <th style="width: 10%;">Start Time</th>
		            <th style="width: 10%;">End Time</th>
		            <th style="width: 30%;">Customer</th>
		            <th style="width: 30%;">Services</th>
		            <th style="width: 10%;"><!-- Arrived Button --></th>
		        </tr>
	        </thead>
	    </table>
    </div>
</div>